.exploreDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.exploreBtn {
  background-color: #E9730F;
  border: transparent;
  border-radius: 10px;
  color: white;
  margin-top: 10vh;
  min-width: 90vw;
  font-size: 45px;
  box-shadow: 5px 5px 5px gray;
}

.btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.local {
  font-size: 10px;
}