.recipeCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}

.recipeCategories > button {
  background: #E9730F;
  border: transparent;
  border-radius: 5px;
  color: whitesmoke;
  font-size: small;
  font-weight: 1000;
  margin: 5px;
  box-shadow: 5px 5px 10px rgb(100, 100, 100);
  width: 110px;
}
