.recipeCardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.recipeCards {
  background-color: #E9730F;
  border-radius: 5px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 4px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
}

.recipeCards > img {
  border-radius: 15px;
  padding-bottom: 5px;
}

.recipeCards > p {
  background-color: #B6380D;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}
