.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* https://dev.to/chiragtutlani/horizontal-slider-17b8 */
.wrapper {
  background-color: #0e1318;
  display: grid;
  grid-gap: 0 1px;
  grid-template-columns: repeat(6, auto);
  height: 300px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 30px 20px;
  width: 350px;
}

.item {
  height: 150px;
  padding: 0 10px;
  width: 180px;
}

.inputCheck:checked + .labelCheck {
  text-decoration: line-through;
}

.startBtn {
  bottom: 0%;
  position: fixed;
}

.finishBtn {
  bottom: 0%;
  position: fixed;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.footer {
  align-content: space-between;
  background-color: gray;
  bottom: 0%;
  display: flex;
  position: fixed;
  width: auto;
}

.footerIcon {
  padding-inline: 20px;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
